// variable main color
$main-color: #004AAD;
// variable secondary color
$secondary-color: #5DE0E6;
// variable dark color
$dark-color: #1C1716;
// variable light color
$light-color: #dacaef;
// variable white color
$white-color: #F9F4EF;

// variable gradient color
$gradient-color: linear-gradient(90deg, #5b2e98 0%, #dacaef 100%);
